node_modules/
data.sqlite
data.sqlite-journal
data.sqlite-wal
data.sqlite-shm
public/uploads/questions/*
public/uploads/markschemes/*
!public/uploads/questions/.gitkeep
!public/uploads/markschemes/.gitkeep
